.sidebar{

    width:260px;

    background:white;

    border-right:1px solid #ECE8FF;

    padding:30px 20px;

}

.sidebar h2{

    color:#7C3AED;

    margin-bottom:45px;

    font-weight:700;

}

.sidebar ul{

    list-style:none;

    padding:0;

}

.sidebar li{

    display:flex;

    align-items:center;

    gap:15px;

    padding:15px;

    margin-bottom:10px;

    border-radius:12px;

    color:#6B7280;

    transition:.3s;

}

.sidebar li:hover{

    background:#F3EEFF;

    color:#7C3AED;

}

.active{

    background:#7C3AED;

    color:white !important;

}