.my-courses{
    margin-top:35px;
    width: 100%;
}

.section-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.section-header h2{
    color:#2f2346;
}

.section-header a{
    text-decoration:none;
    color:#7c3aed;
    font-weight:600;
}

.courses-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    width:100%;
}

@media(max-width:992px){
    .courses-grid{
        grid-template-columns:1fr;
    }
}